*{
	font-family: Lobster, serif;
}

.navbar-fixed-bottom, h1{
	text-align: center;
}

.todo-list-items button{
    float: right;
}

.content{
    margin: 2%;
}

section section{
	margin-bottom: 50px;
}

.btn-in-tbl{
	float:right;
	width: 5%;
}

.checkbox{
	float: left;
	width: 2%;
}

.textbox{
	width: 93%;
	word-break: break-all;
}
